<p>
    details works
</p>

<div class="container">
    <div class="card_container">
       <div  class="card" style="width: 18rem;">
           <img src="{{movieDetails.featured_image}}"class="card-img-top" alt="...">
           <div class="card-body">
           <h5 class="card-title">{{movieDetails.name}}</h5>
            <p class="card-text">{{movieDetails.address}}</p>
           <button  (click)="add(movie.restaurant)" class="btn btn-success">add to fav...</button>
           

         </div>
       </div>
    
     </div>
    </div>